<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title>DSS - University Scheduling | Team Terserah</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
        <style>
            * {
                font-family: 'Roboto', serif;
            }

            body {
                font-family: 'Montserrat', sans-serif;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: auto; margin-right: auto;">
                    <img src="static/concept.png" width="60" style="border-radius: 35%;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Team Terserah</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
        <div style="text-align: center;">
            <br>
            <h4>Decision Support System</h2>
            <br>
            <h5>University Scheduling</h3>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    {% for key, value in data.items() %}
                        <th scope="col" style="text-transform: capitalize;">{{key}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for key, value in dataDict.items() %}
                        <tr>
                        {% for val in value %}
                            <td>{{val}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>